# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code configs (optional, uncomment if want to track)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build outputs
/android/app/debug
/android/app/profile
/android/app/release

.metadata

# Ignore everything in root except these files/folders
/*

# Include root files
!pubspec.yaml
!README.md
!LICENSE
!CHANGELOG.md
!analysis_options.yaml

# Include folders you want in package
!lib/
!example/

# Inside example, ignore build and platform-specific files
example/android/app/build.gradle.kts
example/android/app/src/debug/**
example/android/app/src/main/kotlin/**
example/android/app/src/main/res/**
example/ios/**
example/build/
example/.dart_tool/
example/.idea/
example/.gitignore
